@use "./mixins" as *;

:root {
  font-size: 10px;
  font-family: "Manrope", sans-serif;
}

.container {
  width: min(100% - 4.8rem, 111rem);
  margin-inline: auto;

  @include mq(tablet) {
    width: min(100% - 8rem, 111rem);
  }
}

.container-img {
  width: min(100% - 0rem, 111rem);
  margin-inline: auto;

  @include mq(tablet) {
    width: min(100% - 8rem, 111rem);
  }
}

// Header border
.border-bottom {
  border-bottom: 1px solid #ffffff;
  opacity: 0.1;
}

// Hero part for each pages
.hero {
  background-color: #191919;
}

// For the titles
.big-title {
  font-size: 3.6rem;
  line-height: 4rem;
  font-weight: 700;
  letter-spacing: 1.28571px;
  text-transform: uppercase;

  @include mq(tablet) {
    font-size: 5.6rem;
    line-height: 5.8rem;
    letter-spacing: 2px;
  }
}

.mid-title {
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #000;

  @include mq(tablet) {
    font-size: 4rem;
    line-height: 4.4rem;
    letter-spacing: 1.429px;
  }
}

.homeProducts-title {
  font-size: 2.8rem;
  line-height: 3.8rem;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;

  &-space {
    margin-bottom: 3.2rem;
  }
}

.text {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  opacity: 0.5;
  letter-spacing: 0;
}

.btn {
  font-size: 1.3rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  width: 16rem;
  height: 4.8rem;
  text-align: center;
  padding: 1.5rem 0;

  &-orange {
    background-color: #d87d4a;
    margin: auto;
    color: #fff;

    @include mq(laptop) {
      margin: 0;
    }
  }

  &-black {
    background-color: #000000;
    margin: auto;

    @include mq(laptop) {
      margin: 0;
    }
  }

  &-transparent {
    border: 1px solid #000000;
  }
}

.new-product {
  color: #d87d4a;
  font-size: 1.4rem;
  letter-spacing: 1rem;
  margin-bottom: 2.4rem;

  @include mq(tablet) {
    margin-bottom: 1.6rem;
  }
}
