<div id="cartModal" class="modal-cart">

    <!-- Modal content -->
  <div class="modal-cart-inside container">
      <section class="checkout-summary">
        <h1>Summary</h1>
        <div class="summary-content">
          {# {% include('cart/cartPartial.html.twig') %} #}
        </div>

        <div class="summary-infos">
          <div class="summary-infos-article">
            <h2>total</h2>
            <p>$ 1198</p>
            {# <p>$ {{sum}}</p> #}
          </div>
        </div>
        <a href="/cart" class="btn btn-orange">See checkout</a>
      </section>
  </div>
</div>