<section class="gearLocation container">
  <div class="gearLocation-content">
      <picture class="gearLocation-content-img">
          <source srcset={{ asset('/images/desktop/image-best-gear.jpg') }} media="(min-width: 1024px)" />
          <source srcset={{ asset('/images/tablet/image-best-gear.jpg') }} media="(min-width: 768px)" />
          <img src={{ asset('/images/mobile/image-best-gear.jpg') }} alt="Picture of someone trying the XX99
                HeadPhones" />
      </picture>
      <div class="gearLocation-content-text">
          <h3 class="gearLocation-content-title">
              Bringing you the <span>best</span> audio gear
          </h3>
          <p class="text">
              Located at the heart of New York City, Audiophile is the premier
              store for high end headphones, earphones, speakers, and audio
              accessories. We have a large showroom and luxury demonstration rooms
              available for you to browse and experience a wide range of our
              products. Stop by our store to meet some of the fantastic people who
              make Audiophile the best place to buy your portable audio equipment.
          </p>
      </div>
  </div>
</section>