@use "../base/mixins" as *;

.gearLocation {
  margin-top: 12rem;
  margin-bottom: 12rem;

  @include mq(tablet) {
    margin-top: 9.6rem;
    margin-bottom: 9.6rem;
  }

  @include mq(laptop) {
    margin-top: 20rem;
    margin-bottom: 20rem;
  }

  &-content {
    @include mq(laptop) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 12.5rem;
    }

    img {
      border-radius: 8px;
    }

    &-title {
      font-size: 2.8rem;
      line-height: 3.8rem;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin: 4rem 0 3.2rem 0;

      @include mq(tablet) {
        font-size: 4rem;
        line-height: 4.4rem;
        letter-spacing: 1.42857px;
        margin: 6.3rem 0 3.2rem 0;
      }

      span {
        color: #d87d4a;
      }
    }

    &-text {
      text-align: center;

      @include mq(tablet) {
        max-width: 57.3rem;
        margin: auto;
      }

      @include mq(laptop) {
        max-width: 44.5rem;
        margin: 0;
        text-align: start;
      }

      p {
        opacity: 0.5;
      }
    }
  }
}
