@use "../base/mixins" as *;

.checkout {
    height: 100vh;
}

.checkout, .order {
  background-color: #fafafa;
  padding: 3.2rem 0;

  .total {
    color: #d87d4a;
  }

  &-summary {
    background-color: #fff;
    padding: 3.2rem 2.4rem;
    border-radius: 8px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.286px;
        text-transform: uppercase;
        margin-bottom: 3.1rem;
      }

      & a {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.5rem;
        text-decoration-line: underline;
        opacity: 0.5;
        transition: 0.3s ease;

        &:hover {
          opacity: 1;
          text-decoration-color: #d87d4a;
          transition: 0.3s ease;
        }
      }
    }

  }

  .summary-article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    @include mq(mobile) {
      flex-wrap: nowrap;
      gap: 0;
    }

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      font-weight: 700;
      line-height: 2.5rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
      }

      p {
        font-size: 1.4rem;
        opacity: 0.5;
      }

      img {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 8px;
      }
    }

    &-right {
      & .update-cart {
        & .btn-orange {
          margin: 0;
        }

        &-number {
          display: flex;
          align-items: center;
          background-color: #f1f1f1;
          font-size: 1.3rem;
          font-weight: 700;
          letter-spacing: 1px;

          a {
            margin-top: 0;
            color: #000;
            width: 5rem;
            align-self: center;
            opacity: 0.25;
            font-size: 1.8rem;
            transition: 0.3s ease;

            &:hover {
              background-color: #ebebeb;
              color: #d87d4a;
              opacity: 1;
              transition: 0.3s ease;
            }
          }

          p {
            margin: 0;
            padding: 1.2rem 1.6rem;
            width: 4rem;
          }
        }
      }
    }
  }

  .summary-infos {
    margin-top: 3.2rem;

    &-article {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      h2 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.5rem;
        text-transform: uppercase;
        opacity: 0.5;
      }

      p {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
  }

  .btn {
    margin: auto;
    margin-top: 3.2rem;
  }

  & .empty-cart {
    height: 50%;
    h1 {
      font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: center;
    }
  }

  & .btn {
    width: 100%;
  }
}
