.checkout {
  background-color: #fafafa;
  height: 100vh;
  padding: 3.2rem 0;

  &-summary {
    background-color: #fff;
    padding: 3.2rem 2.4rem;
    border-radius: 8px;

    h1 {
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 1.286px;
      text-transform: uppercase;
      margin-bottom: 3.1rem;
    }
  }

  .summary-article {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 2.4rem;
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 1.6rem;
      font-weight: 700;
      line-height: 2.5rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 700;
      }

      p {
        font-size: 1.4rem;
        opacity: 0.5;
      }

      img {
        width: 6.4rem;
        height: 6.4rem;
        border-radius: 8px;
      }
    }

    &-right {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 2.5rem;
      opacity: 0.5;
    }
  }

  .summary-infos {
    margin-top: 3.2rem;

    &-article {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;

      h2 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2.5rem;
        text-transform: uppercase;
        opacity: 0.5;
      }

      p {
        font-size: 1.8rem;
        font-weight: 700;
      }
    }
  }

  .btn {
    margin: auto;
    margin-top: 3.2rem;
  }

  & .empty-cart {
    height: 50%;
    h1 {
      font-size: 2.8rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-align: center;
    }
  }
}
