@use "../base/mixins" as *;

.header {
  background-color: #191919;

  &-container {
    position: relative;
    padding: 3.2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq(laptop) {
      padding: 3.2rem 0 3.7rem 0;
    }
  }

  &-link {
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  &-login {
    img {
      width: 2.5rem;
      height: 2.5rem;

      &:hover {
        filter: brightness(0) saturate(100%) invert(67%) sepia(37%) saturate(1717%) hue-rotate(326deg) brightness(90%)
          contrast(88%);
      }
    }
  }

  &-cart {
    position: relative;

    &-content {
      &:hover {
        a {
          filter: brightness(0) saturate(100%) invert(67%) sepia(37%) saturate(1717%) hue-rotate(326deg) brightness(90%)
            contrast(88%);
        }
      }
      
      p {
        position: absolute;
        background-color: #fff;
        width: 14px;
        height: 14px;
        border-radius: 50%;
        text-align: center;
        top: -6px;
        right: -8px;
      }
    }
  }

  &-nav {
    display: none;

    @include mq(laptop) {
      display: block;
      margin-left: -10rem;

      &-list {
        display: flex;
        gap: 3.4rem;
        font-size: 1.3rem;
        line-height: 2.5rem;
        letter-spacing: 2px;
        font-weight: 700;
        color: #ffffff;
        transition: 0.3s ease;

        & li:hover {
          color: #d87d4a;
          transition: 0.3s ease;
        }
      }
    }
  }

  &-right {
    display: flex;
    gap: 2rem;
  }

  .modal-cart {
    display: none;

    &.show {
      display: block;
      position: absolute;
      height: 100vh;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 3;

      .modal-cart-inside {
        margin-top: 2.4rem;

        @include mq(laptop) {
          margin-top: 3.2rem;
        }
      }

      .checkout-summary {
        max-width: 37.7rem;
        margin-left: auto;
      }

      .summary-article {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:not(:last-child) {
          margin-bottom: 2.4rem;
        }

        &-left {
          display: flex;
          align-items: center;
          gap: 1.6rem;
          font-weight: 700;
          line-height: 2.5rem;

          h3 {
            font-size: 1.5rem;
            font-weight: 700;
          }

          p {
            font-size: 1.4rem;
            opacity: 0.5;
          }

          img {
            width: 6.4rem;
            height: 6.4rem;
            border-radius: 8px;
          }
        }

        &-right {
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 2.5rem;
          opacity: 0.5;
        }
      }

      .summary-infos {
        margin-top: 3.2rem;

        &-article {
          display: flex;
          justify-content: space-between;
          margin-bottom: 8px;

          h2 {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 2.5rem;
            text-transform: uppercase;
            opacity: 0.5;
          }

          p {
            font-size: 1.8rem;
            font-weight: 700;
          }
        }
      }
      .btn {
        margin: auto;
        margin-top: 3.2rem;
      }
    }
  }
}
